In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import re #for regex splitting
from itertools import islice #for slicing a dictionary

from collections import Counter
from statistics import mean, median, stdev

%matplotlib inline

In [2]:
# Reading the data

low_price = pd.read_csv('doll_images/class_1_fNames.csv')
mid_price = pd.read_csv('doll_images/class_2_fNames.csv')
high_price = pd.read_csv('doll_images/class_3_fNames.csv')

In [3]:
low_price.head()

              name  label
0  168876b_lg.jpeg      1
1  117312a_lg.jpeg      1
2  151810d_lg.jpeg      1
3   31590a_lg.jpeg      1
4  144341c_lg.jpeg      1

In [4]:
mid_price.head()

                 name  label
0  16240519_2_lg.jpeg      2
1     182957a_lg.jpeg      2
2     168799b_lg.jpeg      2
3  16240633_3_lg.jpeg      2
4     175612c_lg.jpeg      2

In [5]:
high_price.head()

                 name  label
0  16240537_2_lg.jpeg      3
1  16241052_3_lg.jpeg      3
2  16241062_2_lg.jpeg      3
3  18070792_4_lg.jpeg      3
4     182702i_lg.jpeg      3

In [6]:
print('class 1 len:',len(low_price),'|', 'class 2 len:',len(mid_price),'|', 'class 3 len:',len(high_price))

class 1 len: 3385 | class 2 len: 3616 | class 3 len: 2169

In [7]:
low_splitted_letter = []
low_list = low_price['name']

for item in low_list :
    low_splitted_letter.append(re.split(r'(?=[a-z])', item)[0])

In [8]:
low_final_split = []

for item in low_splitted_letter :
    low_final_split.append(item.split('_')[0])

In [9]:
low_final_split[:10]

['168876',
 '117312',
 '151810',
 '31590',
 '144341',
 '224876',
 '116404',
 '106649',
 '16240254',
 '82762']

In [10]:
mid_splitted_letter = []
mid_list = mid_price['name']

for item in mid_list :
    mid_splitted_letter.append(re.split(r'(?=[a-z])', item)[0])

In [11]:
mid_splitted_letter[:10]

['16240519_2_',
 '182957',
 '168799',
 '16240633_3_',
 '175612',
 '168778',
 '26247',
 '88450',
 '16320586_1_',
 '201735']

In [12]:
mid_final_split = []

for item in mid_splitted_letter :
    mid_final_split.append(item.split('_')[0])

In [13]:
mid_final_split[:10]

['16240519',
 '182957',
 '168799',
 '16240633',
 '175612',
 '168778',
 '26247',
 '88450',
 '16320586',
 '201735']

In [14]:
high_splitted_letter = []
high_list = high_price['name']

for item in high_list :
    high_splitted_letter.append(re.split(r'(?=[a-z])', item)[0])

In [15]:
high_splitted_letter[:10]

['16240537_2_',
 '16241052_3_',
 '16241062_2_',
 '18070792_4_',
 '182702',
 '26138',
 '168781',
 '175173',
 '228846',
 '204880']

In [16]:
high_final_split = []

for item in high_splitted_letter :
    high_final_split.append(item.split('_')[0])

In [17]:
high_final_split[:10]

['16240537',
 '16241052',
 '16241062',
 '18070792',
 '182702',
 '26138',
 '168781',
 '175173',
 '228846',
 '204880']

In [22]:
low_counter = Counter(low_final_split)

list(islice(low_counter.items(),10)) #get 10 key/value pair from Counter dict

[('168876', 3),
 ('117312', 1),
 ('151810', 4),
 ('31590', 1),
 ('144341', 3),
 ('224876', 1),
 ('116404', 2),
 ('106649', 1),
 ('16240254', 3),
 ('82762', 3)]

In [23]:
print('Mean', mean(low_counter.values()))
print('Median', median(low_counter.values()))
print('St Dev', stdev(low_counter.values()))
print('Max', max(low_counter.values()))

Mean 1.6799007444168734
Median 1
St Dev 1.0523855673647649
Max 10

In [24]:
high_final_split[:10]

['16240537',
 '16241052',
 '16241062',
 '18070792',
 '182702',
 '26138',
 '168781',
 '175173',
 '228846',
 '204880']

In [25]:
mid_counter = Counter(mid_final_split)
list(islice(mid_counter.items(),10))

TypeError: unhashable type: 'slice'

In [ ]:
print('Mean', mean(mid_counter.values()))
print('Median', median(mid_counter.values()))
print('St Dev', stdev(mid_counter.values()))
print('Max', max(mid_counter.values()))

In [ ]:
high_counter = Counter(high_final_split)
high_counter[:10]

In [ ]:
print('Mean', mean(high_counter.values()))
print('Median', median(high_counter.values()))
print('St Dev', stdev(high_counter.values()))
print('Max', max(high_counter.values()))

In [ ]:
lowValues = []
midValues = []
highValues = []

for value in low_counter.values():
    lowValues.append(value)

for value in mid_counter.values():
    midValues.append(value)

for value in high_counter.values():
    highValues.append(value)

In [ ]:
plt.figure(figsize=(8,10))
plt.boxplot(x=[lowValues, midValues, highValues], labels=['<$250', '$250-to-$1,000', '>$1,000'])

plt.title('Pictures per Doll\nfor Each Class', fontsize=26)

plt.xlabel('Class', fontsize=20)
plt.ylabel('Number of Pictures per Doll', fontsize=20)

plt.xticks(fontsize=16, rotation=45, ha='right')
plt.yticks(fontsize=16)

plt.ylim(0,21)